<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/style.css">
</head>

<body>
  <header data-aos="slide-down" data-aos-duration="300" data-aos-once="true" class="header d-flex justify-content-between align-center flex-warp px-6 py-3">
    <img src="./assets/images/logo-fixie.svg" alt="Logo" class="logo">
    <ul class="menu d-flex justify-content-between align-center flex-wrap">
      <li class="pl-6 font-size-3"><a class="link-primary text-decoration-none" href="#">Product</a></li>
      <li class="pl-6 font-size-3"><a class="link-primary text-decoration-none" href="#">Blog</a></li>
      <li class="pl-6 font-size-3"><a class="link-primary text-decoration-none" href="#">contact</a></li>
    </ul>
  </header>

  <%- contents %>

  <script src="./assets/js/all.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>